#add_form {
	margin: 0 auto;
	padding: 14px;
	border: solid 2px black;
	background-color:rgba(0, 0, 0, 0.7);
	width: 500px;
}

#add_form .small {
	color: #CC0000;
	display: block;
	font-size: 13px;
	font-weight: normal;
	text-align: right;
	width: 170px;
}

#add_form label {
	color: white;
	display: block;
	font-weight: bold;
	text-align: right;
	font-size: 15px;
	width: 170px;
	float: left;
}

#add_form input {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 12px 0px 10px 10px;
}

#add_form select {
	float: left;
	padding: 3px 1px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 12px 0px 10px 10px;
}

#add_form button {
	border: 0;
	margin-top: 20px;
	padding: 0;
	clear: both;
	margin-left: 150px;
	width: 125px;
	height: 31px;
	background: #666666;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

#add_form .radio {
	margin: 5px 8px 5px 10px; 
	width: 20px;
}

#add_form textarea {
	margin: 10px 8px 5px 10px; 
}
