.add_form {
	margin: 0 auto;
	padding: 14px;
	border: solid 0px #CC0000;
	border-radius: 6px;
	background-color: #FFFFCC;
	width: 600px;
}

.add_form .small {
	color: #CC0000;
	display: block;
	font-size: 13px;
	font-weight: normal;
	text-align: right;
	width: 180px;
}

.add_form label {
	display: block;
	font-weight: bold;
	text-align: right;
	font-size: 15px;
	width: 180px;
	float: left;
}

.add_form input {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 12px 0px 10px 10px;
}

.add_form select {
	float: left;
	padding: 3px 1px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 12px 0px 10px 10px;
}

.add_form button {
	border: 0;
	border-radius:5px;
	margin-top: 20px;
	padding: 0;
	clear: both;
	margin-left: 150px;
	width: 125px;
	height: 31px;
	background: #666666;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

.add_form .radio {
	margin: 5px 8px 5px 10px; 
	width: 20px;
}

.add_form textarea {
	width: 300px;
	height: 160px;
	margin: 10px 8px 5px 10px; 
}

#paris_map_add {
	text-align: center; 
	margin-left: 10px; 
	margin-top: 10px;
	margin-right: auto;
	width:300px;
	height:250px; 
}

.error {
	color: #EE0000;
	background-color: #FFD2B7;
	font-weight:bold;
}

.error_div {
	visibility: hidden;
	color: #EE0000;
	font-weight:bold;
	text-align:left;
	font-size: 12px;
	font-style:italic;
	padding: 0px 4px 0px 4px;
	width: 190px;
	margin: 0px 0px 0px 10px;
	
}

/***notation etoile***/
ul.notes-echelle {
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}
/* Correctif IE6 sur min-width & min-height */
* html ul.notes-echelle.js li {
	width:20px;
	height:20px;
}
ul.notes-echelle li label {
	display:block;
	text-align:center;
	line-height:20px;
	background:url(/etoiles.gif) center top no-repeat;
	cursor:pointer;
}

ul.notes-echelle li.note-off label {
	background-position:center -60px;
}

ul.notes-echelle.js input {
	position:absolute;
	left:-999%;
}

/* Effet lorsque une note est cochée */
 ul.notes-echelle li.note-checked {
	font-weight:bold;
}
/* Effet lorsque une note est tabulée au clavier */
 ul.notes-echelle.js li.note-focus {
	outline:1px dotted #000;
}
