header{
	height:500px;
	background-image:url(../img/cinema2.jpg);
	background-size:cover;
	padding: 2%;
}

header h1{
	margin-top: 6%;
	font-size: 50px;
	text-align: center;
}

header h2{
	font-size: 22px;
	text-align: center;
}

#description{
	line-height: 20px;
	color: white;
	text-align: justify;
	background-color:rgba(0, 0, 0, 0.7);
	padding: 2%;
	margin-top:10px;
	margin-left: 2%;
	margin-right: 2%;
	
}

body{
	background-size:cover;
	background-image:url(../img/ban1.jpg);
}

#bloc{
	width:1050px;
	margin: auto;
	color: #CC0000;
	font-family:'trebuchet MS';
	text-align: justify;
	background-color:rgba(0, 0, 0, 0.5);
}

header, footer{
	width:1050px;
	margin: auto;
	color: #CC0000;
	font-family:Broadway;
	text-align: left;
	padding: 5px;
}

/*navigation*/
nav{
    display: inline-block;
    text-align: right;
	margin-top: 72px;
	padding: 0px;
	list-style-type : none; 
	margin-left : 580px; 
}
 
nav ul{
    list-style-type: none;
}
 
nav li{
    display: inline-block;
    margin-right: 2.1%;
	float: left;
    height: 34px;
    background-color: #8B020A;
    margin: 0;
}

nav a{
	display: block;
	padding: 5px;
    text-decoration: none;
	font-family: Broadway, monospace;
	font-size: 20px;
	color: #FFFFCC;
}

nav a:hover{
    color: #FFFFB9;
    border-bottom: 3px solid #FFFFB9;
	background-color:#E41F30;
}

/*corps de la page*/
section h1{
	font-family: Broadway, monospace;
	font-size: 24px;
	color: #CC0000;
}

section h2{
	margin-left:350px;
	font-size:16px;
}

section a{
	padding-bottom: 2px;
	color: #CC0000;
}

section a:hover{
    color: #760001;
}

section{
	margin: 30px 0.1% 0 0.5%;
}

/*Carte avec liens*/
#paris_map {
	text-align: center; 
	margin-left: auto; 
	margin-right: auto;
	width:500px;
	height:450px; 
}

#paris_map p {
	border: none;
	background-color: white;
	text-align: left;
}

#map, aside {
	display: inline-block;
	vertical-align: top;
    text-align: justify;
	border-radius: 10px;
	background-color: #FFFFCC;
	padding: 1%;
}

#map{
	width: 50%;
    margin-right: 4%;
}

section h2{
	text-align: right;
	margin-right:5px;
	font-size:16px;
}

aside{
	width:40%;
    display: inline-block;
    vertical-align: top;
}

p{
	border: 2px #CC0000 solid;
	background-color: #FF9F82;
	padding: 5px;
}

/*pied de page*/
footer{
	text-align: center;
}

.link a{
	text-align: center;
	font-family: Broadway, monospace;
	color: #CC0000;
}

.link a:hover{
    color: #760001;
}